body{
    margin: 0;
}

header{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px 50px;
}

#header-center, #header-left, #header-right{
    display: flex;
    align-items: center;
}


button {
    height: 30px;
}

form input{
    height: 2em;
    width: 25vw;
}

#header-left img{
    margin-left: 10px;
}

#header-right img{
    margin-left: 10px;
}

main {
    display: grid;
}

#view-section{
    margin-left: 5%;
}