body{
    margin: 0;
}

header{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px 50px;
}

#header-center{
    display: flex;
}

.icone, button .icone{
    width: 20px;
    height: 20px;
}

form input{
    height: 2rem;
    width: 25vw;
}